.input-text {
	width: 90%;
	margin: 0px auto;
}

.envio {
	margin-top: -1%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f7f7f7;
	-webkit-box-shadow: 2px 2px 5px #999;
	-moz-box-shadow: 2px 2px 5px #999;
	margin-bottom: 5%;
	width: 100%;
	padding-bottom: 2%;
	
}

.selecciona .dropdown-menu {
	background-color: white;
}

.ruta {
	margin-top: -1%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
	-webkit-box-shadow: 2px 2px 5px #999;
	-moz-box-shadow: 2px 2px 5px #999;
	margin-bottom: 5%;
	width: 100%;
	padding-bottom: 2%;
}

.rfecha {
	border-top: 1px solid #ccc;
}

.precio {
	border: 1px solid #ccc;
	border-radius: 25px;
	background-color: #f7f7f7;
	margin: auto;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 20%;
	height: 20%;
	background-color: darkred;
	color: white;
}

.titulo {
	padding: 0.5%;
	color: #428bca;
	font-size: 150%;
}

.titulos {
	padding: 0.5%;
	color: #384452;
	font-size: 150%;
}

.titles-details{
	font-size: 100%;
	padding-left: 2%;
	color: #2e3436;
}

.titles-info{
	font-size: 150%;
	padding: 2%;
	color: #428bca;
}

.titles-info-price{
	font-size: 150%;
	padding: 2%;
	color:#d9534f;
	font-weight: bold;
}

.row-origen {
	padding-top: 0.5%;
}

.information {
	font-size: 16px;
}

.imagen-envio {
	width: 50%;
	 display:block;
 display:block;
margin:auto;
}

.imagen-profile {
	width: 80%;
	 display:block;
 display:block;
margin:auto;
}

.btn {
	white-space: normal;
}

.row {
	margin-left: 0px !important;
}

.info-lugar {
	padding-top: -0.5%;
	font-size: 180%;
	color: black;
}

.img-origin {
	color: green;
}

.img-destination {
	color: red;
}
.contraoferta-icon {
	color: #5cb85c;
}
.info-salida {
	pading-bottom: 0.5%;
}

label {
	color: #495766 !important;
	font-weight: normal !important;
	position: relative;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	width: auto !important;
}

.li-input {
	padding: 3%;
}

.i-code {
	display: none;
}


.demo-icon {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 150%;
}

.size-icon {
	font-family: "package-open";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 150%;
}

.contraoferta{
	margin-top: -8px;
}

.ok{
	margin-top: 15px;
	margin-bottom: 4px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 30%;
    padding-right: 30%;
}

.view h4{
margin-top: 5%;


}

.cretaion-date {
	margin-right: 2%;
	color: #999;
	position: relative;
}



.separador{
  /* margin-top: 20px; */
  margin-right: 0%;
  margin-bottom: 10px;
  border: 0;
  border-top: 2px solid #eee;
}

.separador-final{
  /* margin-top: 20px; */
  margin-right: 0%;
    margin-top: 15px;
  
  margin-bottom: 10px;
  border: 0;
  border-top: 3px solid #eee;
}



/* TABLA  */

.tabla-tam{
	font-size: 110%;
	padding: 2%;
	color: #428bca;
}

.tabla-precio{
	font-size: 110%;
	padding: 2%;
	color: #d9534f;
}

.table-cabecera th{
	text-align: center;
}

.table-valores {
   width: 50%;
   margin-bottom: 20px;
   text-align: center;
   margin: 0 auto;
}

.table-definition thead th:first-child {
    pointer-events: none;
    background: white;
    border: none;
}

.table td {
    vertical-align: middle;
}

.page-item > * {
    border: none;
}

.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer; 
}
  .custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none; 
  }
    .custom-checkbox .custom-control-indicator:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #f1f1f1;
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -2px;
      top: -4px;
      -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
      transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
    }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #5b9bd1;
    background-image: none;
    box-shadow: none !important; 
  }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
      background-color: #5b9bd1;
      left: 15px; 
    }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important; 
  }

  
  
  
  .prueba{
  float: left;
    margin-left: 58%;
    margin-top: 10%;
    position: absolute;
  }